<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/public_css/public_main.css">

</head>

<body>
  
  <header class="head">
    <nav class="navbar">
      
      <a class="buttoncs1" href="/percurso/novo_percurso"> Criar percurso </a>
      <a class="buttoncs1" href="/req_carga-transporte"> Consultar trecho </a>
      <a class="buttoncs1" href="/dados"> Percursos cadastrados </a>
      


      <a class="buttoncs1" href="/manual">Manual de Instrução</a>
    </nav>
  </header>

  <script src="/public_js/public_main.js"></script>
</body>

</html>