<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual</title>
</head>

<body>

    <h1>Manual de uso</h1>

    
    <h3> Para realizar uma requisição de cadastro de percurso :</h3>
    <lu>
        <li> vá até a aba "Cadastrar percurso" na página inicial</li>
        <li> aqui, cada trecho do percurso é exibido separadamente. <br> se deseja realizar uma viagem da cidade "X" até "Z" com parada em "Y", as rotas serão de "X" até "Y" e de "Y" até "Z" </li>
        <li> Na hora de digitar as cidades de origem e destino/parada, ambas devem ser escritas em letra maiusculo e sem utilização de acentos. expl: São paulo = SAO PAULO. </li>
        <li> Caso deseje cadastrar um percurso, clique em "cadastrar percurso" e ele será exibido em percurso cadastrados, caso contrário, clicar em cancelar irá EXCLUIR o percurso atual</li>

    </lu>


    <h3> Para realizar apenar umas requisição de viagem sem carga e consultar a distancia / preço por veículo:</h3>
    <lu>
        <li>vá até a aba "Consultar trechos x modalidade" na página inicial</li>
        <li>Digite a cidade de origem e de destino, ambas devem ser escritas em letra maiusculo e sem utilização de acentos. expl: São paulo = SAO PAULO.
        </li>

    </lu>
    <br><br>
    <label> **Não recarregue a página e não clique em voltar no navegador, pois isso gerará inconpatibilidades na sessão atual</label>



    <a class="buttoncs1" href="/">Voltar</a>
</body>

</html>